<div class="min-w-[500px] rounded-3.5 bg-white p-7">
    <div>
      <div class="flex justify-between items-center">
        <div class="font-bold text-lg ">영상 수</div>
        <div class="font-bold text-lg">{{ videoNums }} 개</div>
      </div>
      <mat-slider  class="w-full" min="1" max="5" step="1" [(ngModel)]="videoNums" color="primary" (input)="onInputChange($event)"></mat-slider>
      <div class="flex justify-between items-center">
        <div class="font-bold text-base">1</div>
        <div class="font-bold text-base">5</div>
      </div>
    </div>
    <div class="flex items-end justify-end pt-4">
      <div class="bg-blue-300 px-4 py-2 rounded-2 font-bold text-white cursor-pointer hover:bg-blue-200" (click)="closeModal()">등록</div>
    </div>
  </div>
  