<div class="flex min-h-full w-full bg-gray-50">
  <div class="w-[350px] bg-blue-500 min-w-fit">
    <h1 class="flex cursor-pointer select-none flex-row items-center py-5 px-15 text-lg font-bold text-white">컴포넌트 모음집</h1>
    <app-menu></app-menu>
  </div>

  <div class="w-full bg-gray-50">
    <div class="flex h-[66px] w-full justify-end border-b-1 border-gray-100 bg-white px-7 py-5">
      <div class="flex items-center space-x-3">
        <div class="h-6 w-6 rounded-full bg-gray-400"></div>
        <div class="relative flex cursor-pointer select-none items-center text-gray-800">
          박준일 님
        </div>
      </div>
    </div>
      <router-outlet></router-outlet>
  </div>
</div>
