<div class="p-7">
    <h1 class="font-bold text-3xl">Calendar </h1>
    <div class="my-4">
        <div class="flex mt-5 flex-col justify-center w-full gap-2 p-8 rounded-2xl bg-white">
            <div class="flex justify-between w-full">
                <div class="flex items-center space-x-10">
                    <img src="assets/button-left.png" alt="" class="hover:bg-gray-200 rounded-full p-2 w-8 h-8 cursor-pointer" (click)="getBeforeMonthCalendar(Year, Month - 1)">
                    <div class="text-lg font-medium text-left text-gray-900" >{{ Year }}년 {{ Month + 1}}월</div>
                    <img src="assets/button-left.png" alt="" class="hover:bg-gray-200 rounded-full p-2 w-8 h-8 rotate-180 cursor-pointer" (click)="getNextMonthCalendar(Year, Month + 1)">
                    <div class="ml-8">
                        <div class="w-[100px] h-[44px] bg-accent text-white px-3.5 py-2.5  font-bold flex justify-center items-center rounded-2xl hover:bg-blue-600 hover:shadow-2xl select-none cursor-pointer" >
                            전체보기
                        </div>
                    </div>
                </div>
                <div class="flex items-center space-x-3">
                    <ng-container *ngFor="let check of checkStatus">
                        <div class="flex justify-center items-center relative gap-2">
                            <ion-icon src="../../assets/dot.svg" [style.color]="check.fill"></ion-icon>
                            <div class="flex-grow-0 flex-shrink-0 text-sm font-medium text-left text-gray-700">{{ check.status }}</div>
                        </div>
                    </ng-container>

                    <div class="flex justify-center items-center rounded-xl bg-accent p-2">
                        <div class="flex-grow-0 flex-shrink-0 text-lg font-medium text-left text-white">Today</div>
                    </div>
                    <div class="text-lg font-medium text-left text-gray-700"> {{ Today | date:'YYYY-MM-dd, EEEE'  }} </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center self-stretch flex-grow relative">
                <div class="self-stretch relative grid grid-cols-7 my-6">
                    <div class=" text-lg font-medium text-center text-gray-500" *ngFor="let day of week" [ngClass]="{'text-red-500' : day == 'Sun', 'text-blue-500' : day == 'Sat','text-gray-500' : day != 'Sun' && day != 'Sat'}">{{day}}</div>
                </div>
                <div class="self-stretch relative grid grid-cols-7">
                    <div class="h-[76px] rounded-2xl flex items-center justify-center" *ngFor="let day of DaysInBeforeMonth">
                        <div class="h-full w-full text-lg font-medium text-center text-gray-300 flex items-center justify-center" [ngClass]="{'text-red-300' : day[1] == 0, 'text-gray-300' : day[1] !== 0}">{{ day[0] }}</div>
                    </div>      
                    <div class="h-[76px] border-b-[20px] rounded-2xl flex items-center justify-center border-transparent cursor-pointer hover:bg-gray-100" [ngClass]="{'bg-blue-100 hover:bg-blue-200' : day[0] == todayDate && Month == Today.getMonth() && Year == Today.getFullYear()}" *ngFor="let day of DaysInMonth">
                        <div class="h-10 w-10 text-lg font-medium text-center rounded-full flex items-center justify-center"  [ngClass]="{'bg-green-300' : this.checkdaystatus[day[0]] === 1, 'bg-yellow-300' : this.checkdaystatus[day[0]] === 2, 'bg-red-300' : this.checkdaystatus[day[0]] === 3, 'bg-indigo-300' : this.checkdaystatus[day[0]] === 4, 'bg-stone-300' : this.checkdaystatus[day[0]] === 5, 'text-red-500' : day[1] == 0, 'text-gray-500 ' : day[1] !== 0, 'text-blue-500' : day[1] == 6}">{{ day[0] }}</div>
                    </div>      
                    <div class="h-[76px] rounded-2xl flex items-center justify-center" *ngFor="let day of DaysInNextMonth">
                        <div class="h-full w-full text-lg font-medium text-center text-gray-300 flex items-center justify-center" [ngClass]="{'text-blue-300' : day[1] == 6, 'text-gray-300' : day[1] !== 0}">{{ day[0] }}</div>
                    </div>      
                </div>
            </div>
        </div>
  </div>
</div>